body{
    background-color:lightgray;
    margin: 0px;
    padding: 0px;
    
}
.navbar{
    background-color: rgb(5, 210, 237);
    padding: 10px;
    color:#eb4034;

}
.navbar a{
    color: rgb(52, 56, 59);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 30px;
    width: 100px;
    overflow: hidden;
}
.navbar a:hover{
    background-color: blue;
    border: 1px solid color white ;
    border-radius: 4px;
}

.parent{
    width: 100%;
    height: 50vh;
    background-color: rgb(29, 157, 204);
    display: flex;

}
.child1{
    width: 150px;
    height:170px ;
    background-color: aqua;
}
.child2{
  width: 150px;
  height:170px ;
  background-color: blue;
}
.child3{
    width: 150px; ;
    height: 170px;
    background-color: #eb4034;
}
.position-example{
    width: 100%;
    height: 70vh;
    background-color: aqua;
    display: flex;
    position: relative;
}
.position1{
    width: 70px;
    height: 50px;
    background-color: #eb4034;
   
}
.position2{
    width: 50px;
    height: 50px;
    background-color: rgb(16, 158, 241);
}
.para{
    text-align: justify;
    text-align-last: center;
    text-decoration: underline;
    text-transform: lowercase;
    line-height: 30px;
    /*letter-spacing:20px; */
    word-spacing: 30px;
}
.card{
    width: 20%;
   border:1px solid black;
    box-shadow: 20px 20px 20px red;
}

  



    